vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|30 Jan 2011 02:46:21 -0000
vti_extenderversion:SR|5.0.2.4803
vti_author:SR|YOUR-19AE34625A\\Karim
vti_timecreated:TR|30 Sep 2009 11:13:52 -0000
vti_backlinkinfo:VX|
vti_cacheddtm:TX|30 Jan 2011 02:46:21 -0000
vti_filesize:IR|611
vti_cachedlinkinfo:VX|H|<!--CommunityURL\\ --> S|<!--AvatarURL\\ --> H|<!--CommunityURL\\ --> S|images/arrow-<!--StatusClass\\ -->.png H|<!--JoinGameURL\\ --> H|<!--AddFriendURL\\ -->
vti_cachedsvcrellinks:VX|NHUS|league/steamprofile/data/templates/<!--CommunityURL\\ --> NSUS|league/steamprofile/data/templates/<!--AvatarURL\\ --> NHUS|league/steamprofile/data/templates/<!--CommunityURL\\ --> NSUS|league/steamprofile/data/templates/images/arrow-<!--StatusClass\\ -->.png NHUS|league/steamprofile/data/templates/<!--JoinGameURL\\ --> NHUS|league/steamprofile/data/templates/<!--AddFriendURL\\ -->
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
