vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Mar 2012 20:08:01 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|Part\\ 1\\ (upload\\ before\\ install)/shout_all.php Part\\ 1\\ (upload\\ before\\ install)/standings.php Part\\ 1\\ (upload\\ before\\ install)/shout.php Part\\ 1\\ (upload\\ before\\ install)/shout_popup_guess.php Part\\ 1\\ (upload\\ before\\ install)/shout_popup.php Part\\ 1\\ (upload\\ before\\ install)/shout_user_private.php
