<br />
<table width="100%" border="0" cellpadding="$cellpadding" cellspacing="$cellspacing" bgcolor="$border">
  <tr bgcolor="$bghead">
    <td class="title" colspan="6">&nbsp; &#8226; Participants</td>
  </tr>
  	<tr>
		<td bgcolor="$bg1"><b>$temp_1on1</b></td>
		<td bgcolor="$bg1" align="center"><b>Status</b></td>
		<td bgcolor="$bg1" align="center"><b>Gameaccount</b></td>
		$show_lineup_hd
		<td bgcolor="$bg1" align="center"><b>Penalty Points</b></td>
    </tr>
	  <tr>
    <td bgcolor="$pagebg" colspan="6"></td>
  </tr>