<table width="100%" cellspacing="$cellspacing" cellpadding="$cellpadding" bgcolor="$border">
   <tr>
    <td width="25%" align="center" bgcolor="$bg1" rowspan="$rowspan_temp" >$clanlogo<br>$serverinfo<br>$admin $clan_leave<br>$ircchat</td>
    <td width="20%" bgcolor="$bg1" ><strong>Team name</strong></td>
    <td width="55%" bgcolor="$bg2" >$country $clanname $status</td>
   </tr>
    <tr>
     <td bgcolor="$bg1" ><strong>Team Tag</strong></td>
     <td bgcolor="$bg2" >$clantag</td>
   </tr>
    <tr>
     <td bgcolor="$bg1" ><strong>League name</strong></td>
     <td bgcolor="$bg2" >$short</td>
   </tr>
   $clanhp_temp
   $server_temp
   $reg_temp
    <tr>
     <td bgcolor="$bg1" ><strong>Skill</strong></td>
     <td bgcolor="$bg2" >$skill</td>
   </tr>
$join
</table>
<br />