<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td><b>$squad vs $opponent<br />$date</b></td>
  </tr>
  <tr>
    <td bgcolor="$bghead" class="title">%result%</td>
  </tr>
  <tr>
    <td align="center"><font size="5">$results_1 : $results_2</font></td>
  </tr>
  <tr>
    <td bgcolor="$bghead" class="title">%details%:</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="150">%league%:</td>
		<td>$league <a href="http://$linkpage" target="_blank">[%matchlink%]</a></td>
      </tr>
	  <tr>
	  	<td colspan="2"><hr /></td>
	</tr>
      <tr>
        <td>%maps%:</td>
		<td>$maps</td>
      </tr>
	  <tr>
	  	<td colspan="2"><hr /></td>
	</tr>
      <tr>
        <td>%squad%:</td>
		<td>$squad</td>
      </tr>
	  <tr>
	  	<td colspan="2"><hr /></td>
	</tr>
      <tr>
        <td>$myclantag %team%:</td>
		<td>$hometeam</td>
      </tr>
	  <tr>
	  	<td colspan="2"><hr /></td>
	</tr>
    </table></td>
  </tr>
  <tr>
    <td bgcolor="$bghead" class="title">%opponent%:</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="150">Team:</td>
        <td>$opponent</td>
      </tr>
      <tr>
        <td>$opptag %team%:</td>
        <td>$oppteam</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td bgcolor="$bghead" class="title">%report%:</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center"><img src="images/clanwars/$ownlogo" alt="" /></td>
        <td align="center" width="20%"><b>$results_1 : $results_2</b></td>
        <td align="center">$opponent_logo</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><hr /></td>
  </tr>
  <tr>
    <td align="center">$squad</td>
  </tr>
  <tr>
    <td align="center">$hometampic</td>
  </tr>
  <tr>
    <td><hr /></td>
  </tr>
    <tr>
    <td align="center"><b>$opptag %team%</b></td>
  </tr>  
  <tr>
    <td align="center">$oppteam</td>
  </tr>
    <tr>
    <td><hr /></td>
  </tr>
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>%map%</td>
    <td width="100">%result%</td>
  </tr>
</table>
</td>
        </tr>
		$extendedresults
      </table></td>
  </tr>
  <tr>
    <td><hr /></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="50%"><b>%hltv_server%:</b></td>
        <td width="50%"><b>%screenshots%:</b></td>
      </tr>
	  <tr>
	  	<td>$hltv</td>
		<td>$screenshots</td>
	</tr>
    </table></td>
  </tr>
  <tr>
    <td><hr /></td>
  </tr>
  <tr>
    <td><b>%report%:</b></td>
  </tr>
  <tr>
    <td>$report</td>
  </tr>
  <tr>
    <td align="right">$adminaction</td>
  </tr>
</table>