<table width="100%" border="0" cellspacing="$cellspacing" cellpadding="$cellpadding">
   <tr>
    <td width="25%" bgcolor="$bg1" rowspan="2" align="center">$clanlogo<br>$serverinfo</td>
    <td width="21%" bgcolor="$bg1"><strong>Teamname</strong></td>
    <td width="79%" bgcolor="$bg1">$country $clanname $status2</td>
   </tr>
    <tr>
     <td bgcolor="$bg1"><strong>Members</strong></td>
     <td bgcolor="$bg1">$members $linedmembers</td>
   </tr>
    <tr>
     <td colspan="3"><hr></td>
   </tr>