<table width="100%" cellspacing="$cellspacing" cellpadding="$cellpadding" bgcolor="$border">
   <tr>
    <td class="title" width=""><img src="images/icons/foldericons/folder.gif" width="16" height="16"> <a href="?site=clans&action=show&clanID=$clanID$sta_ext"><strong>Team Details</strong></a></td>
    <td class="title" width=""><img src="images/cup/icons/points.png" width="16" height="16"> <a href="?site=clans&action=show&clanID=$clanID$sta_ext&display=stats"><strong>Stats & Awards</strong></td>
    <td class="title" width=""><img src="images/cup/icons/add_result.gif" width="16" height="16"> <a href="?site=matches&action=viewmatches&clanID=$clanID$sta_ext&display=team"><strong>Matches</strong></a></td>
    <td class="title" width=""><img src="images/cup/icons/league.png" width="16" height="16"> <a href="?site=clans&action=show&clanID=$clanID$sta_ext&display=leagues"><strong>Leagues</strong></td>
    <td class="title" width=""><img src="images/cup/icons/tchat.png" width="16" height="16"> <a href="javascript:void(0)" onclick="MM_openBrWindow('popup.php?site=shout&id=$clanID&type=clanID','Team Chat','toolbar=no,status=no,scrollbars=no,width=550,height=340');"><strong>Chat</strong></td>
   </tr>
</table>