   <tr>
    <td width="25%" bgcolor="$bg1" rowspan="$rowspan" align="center">$clanlogo<br>$ircchat</td>
    <td width="21%" bgcolor="$bg1"><strong>Teamname</strong></td>
    <td width="79%" bgcolor="$bg1">$country $clanname $status2</td>
   </tr>
$show_hp
    <tr>
     <td bgcolor="$bg1"><strong>$rank_title</strong></td>
     <td bgcolor="$bg1">$rank</td>
   </tr>
    <tr>
     <td bgcolor="$bg1"><strong>Members</strong></td>
     <td bgcolor="$bg1">$members Active</td>
   </tr>
    <tr>
     <td bgcolor="$bg1"><strong>Details</strong></td>
     <td bgcolor="$bg1"><input type="button" value="Team Details" onClick="window.location='?site=clans&action=show&clanID=$clanID'"></td>
   </tr>
    <tr>
     <td colspan="3"><hr></td>
   </tr>