<table border="0" cellpadding="$cellpadding" cellspacing="$cellspacing" width="100%">
    $leaderoptions
</table>
<table border="0" cellpadding="$cellpadding" cellspacing="$cellspacing" width="100%">
	<tr valign="top">
		<td width="49%" colspan="3">
			<table width="100%" cellpadding="$cellpadding" cellspacing="0" bgcolor="$border">
				<tr>
					<td class="title" align="center">%contestants%</td>
				</tr>	
				<tr>
					<td bgcolor="$pagebg"></td>
				</tr>
				<tr>
					<td bgcolor="$bg1" height="140" valign="middle">
						<table border="0" cellspacing="0" cellpadding="$cellpadding" width="100%">
							<tr>
								<td bgcolor="$bg1" align="center" width="45%">$team1_link</td>
								<td bgcolor="$bg1" align="center" width="10%">vs.</td>
								<td bgcolor="$bg1" align="center" width="45%">$team2_link</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td bgcolor="$bg1" height="20" colspan="2"></td>
				</tr>
			</table>
		</td>
		<td height="140" width="2%"></td>
		<td width="49%" colspan="3">
			<table width="100%" cellpadding="$cellpadding" cellspacing="$cellspacing" bgcolor="$border">
				<tr>
					<td class="title" align="center" colspan="2">Match #$matchno</td>
				</tr>
				<tr>
						
							<tr>
								<td valign="top" align="center" colspan="2" class="title2"><font size="3"><b>Status: $match_status</b></font><br /><br />
									
										<tr>
											<td align="left" width="35%" bgcolor="$bg1">
											$name:</td>
											<td align="left" width="65%" bgcolor="$bg1">
											$typename</td>
										</tr>
										<tr>
											<td align="left" bgcolor="$bg1">
											$stage:</td>
											<td align="left" bgcolor="$bg1">$round</td>
										</tr>
										<tr>
												<td align="left" bgcolor="$bg1">%date%:</td>
											<td align="left" bgcolor="$bg1">$date</td>
										</tr>
										$server_temp
										$hltv_temp
										<tr>
											<td align="left" width="35%" bgcolor="$bg1">
											Inscribed by:</td>
											<td align="left" bgcolor="$bg1" width="63%">
											$inscribed_by
											$inscribed_date</td>
										</tr>
										<tr>
											<td align="left" width="35%" bgcolor="$bg1">
											Confirmed by:</td>
											<td align="left" bgcolor="$bg1" width="63%">
											$confirmed_by
											$confirmed_date</td>
										</tr>
										$map_temp
									
								</td>
							</tr>
						
					
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="4" height="5"></td>
	</tr>
	<tr valign="top">
		<td width="49%" colspan="3">
			<table width="100%" cellpadding="$cellpadding" cellspacing="0" bgcolor="$border">
				<tr>
					<td class="title" align="center" colspan="2">%score%</td>
				</tr>
				<tr>
					<td bgcolor="$pagebg" colspan="2"></td>
				</tr>
				<tr>
					
						
							<tr>
								<td width="30%" bgcolor="$bg1">%score%:</td>
								<td align="center" width="70%" bgcolor="$bg1">$ergebnis</td>
							</tr>
							<tr>
								<td width="30%" bgcolor="$bg1">%winner%:</td>
								<td align="center" width="70%" bgcolor="$bg1">$winner</td>
							</tr>
                                                          
                                                        $round1_temp
                                                        $round2_temp
                                                        $round3_temp
							$round4_temp

							
					
				</tr>
			</table>
		<td width="1%"></td>
		<td width="49%" colspan="3">
			<table width="100%" cellpadding="$cellpadding" cellspacing="0" bgcolor="$border">
				<tr>
					<td class="title" align="center">Match Media</td>
				</tr>
				<tr>
					<td bgcolor="$pagebg"></td>
				</tr>
				<tr>
					$screenshots
				</tr>
			</table>
		</td>
	</tr>
 </table>
$report_admin $report_team1 $report_team2 $requests_old $mm_requests 
<br />