  <table width="100%" cellspacing="0" border="0" cellpadding="$cellpadding" bgcolor="$border">
	<tr> 
	 <td align="center" class="title" colspan="4">%match_score_title%</td>
   </tr>
	<tr>
	 <td colspan="4" bgcolor="$pagebg"></td>
   </tr>
    <tr>
	 <td bgcolor="$bg1">%date%</td>
	 <td bgcolor="$bg1" colspan="4">$date</td>
   </tr>
    <tr>
	 <td bgcolor="$bg1">%opponent%:</td>
	 <td bgcolor="$bg1" colspan="4">$gegner</td>
   </tr>
	<tr>
	 <td bgcolor="$bg1">Server:</td>
	 <td bgcolor="$bg1" colspan="4">$server</td>
   </tr>
	<tr>
	 <td bgcolor="$bg1">HLTV-Server:</td>
	 <td bgcolor="$bg1" colspan="4">$hltv</td>
   </tr>