<table width="100%" cellspacing="$cellspacing" cellpadding="$cellpadding" bgcolor="$border">
    <tr>
     <td bgcolor="$bg1" width="15%" class="title2" align="center">Participant:</td>
     <td bgcolor="$bg1" width="15%" class="title2" align="center">Deducted:</td>
     <td bgcolor="$bg1" width="15%" class="title2" align="center">Remaining:</td>
     <td bgcolor="$bg1" width="15%" class="title2" align="center">Unranked In:</td>
     <td bgcolor="$bg1" width="15%" class="title2" align="center">Removal In:</td>
     <td bgcolor="$bg1" width="16%" class="title2" align="center">Date:</td>
   </tr>
     $recent_deductions