 <table width="100%" border="0" cellspacing="1" cellpadding="3" class="tab_2">
  <tr class="files_title">
    <td colspan="3" class="border_1"><b>$filename</b></td>
  </tr>
  <tr>
    <td width="190" rowspan="3" valign="top" class="border_1">$screenshots</td>
    <td class="border_1" valign="top" colspan="2"><b>%description%:</b></td>
  </tr>
  <tr>
    <td class="border_1" valign="top" colspan="2">$fileinfo</td>
</tr>
  <tr>
    <td class="border_1" valign="top" colspan="2"><b>Details &amp; Download:</b> $filename</td>
  </tr>
    <tr>
    <td class="border_1"><div class="rapic"><b>%rating%</b></div><div class="rapic">$ratingpic</div></td>
    <td colspan="-1" class="border_1"><b>%downloads_cl%:</b> $fileload</td>
  </tr>
  </table>
  <br />