  <tr>
  <td colspan="5">
  
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
  <td>
  
  <table border="0" cellpadding="0" cellspacing="0">
  <tr>
  <td>NAME</td>
  </tr>
  <tr>
  <td>INFO</td>
  </tr>
  <tr>
  <td>
  
  <table border="0" cellpadding="0" cellspacing="0">
  <tr>
  <td>SCREENSHOT</td><td>DEMO</td><td>VERSION</td>
  </tr>
  </table>
  
  </td>
  </tr>
  </table>
  
  </td><td align="right">
  
  <table border="0" cellpadding="0" cellspacing="0">
  <tr>
  <td align="left">
  
  <table border="0" cellpadding="0" cellspacing="0">
  <tr>
  <td>DOWNLOADS</td><td>RATING</td>
  </tr>
  </table>
  
  </td>
  </tr>
  
  <tr>
  <td align="right">DOWNLOAD</td>
  </tr>
  
  </table>
  
  </td>
  </tr>
  </table>
  
  </td>
  </tr>
   <tr>
    <td colspan="5" bgcolor="$pagebg"></td>
  </tr>