<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab_2">
  <tr>
    <td class="files_title"><b>+ %statistic%</b></td>
  </tr>
  <tr>
    <td class="border_2">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
	  <td style="width:43%" class="border_1">%files_cl%:</td>
    <td style="width:57%" class="border_1">$totalfiles</td>
	</tr>
	<tr>
		<td class="border_1">%categories_cl%:</td>
		<td class="border_1">$totalcats</td>
	</tr>
	<tr>
		<td class="border_1">%database_cl%:</td>
		<td class="border_1">$hddspace</td>
	</tr>
	<tr>
		<td class="border_1">%traffic_cl%:</td>
		<td class="border_1">$traffic</td>
	</tr>
	<tr>
		<td class="border_1">%last_uploaded_file%:</td>
		<td class="border_1">&nbsp;$lastfile</td>
	</tr>
</table>
    </td>
  </tr>
</table><br />