<div style="width: 100%; border-top: 1px solid #D3D3D3; repeat-x; height: 16px;">
	<div style="width: 13%; float: left; text-align: center; padding: 6px;">
    $avatar<br />
    $username $member<br />
    <small>$usertype</small><br />
    $rang<br />
    <small>$posts %posts%</small><br />
    <small>%registered%: $registered</small><br />
    </div>
    
    <div style="width: 84%; float: left; padding: 6px; border-bottom: 1px solid #D3D3D3; border-left: 1px solid #D3D3D3;">
    	<div style="float: left;"><small><a name="$postID" href="#$postID"><img src="images/icons/posticon.gif" width="10" height="11" alt="" /></a> <i>$date, $time</i> $pm $buddy $email $hp $statuspic</small></div>
        <div style="float: right;">$quote $actions</div>
    </div>
    <div style="width: 84%; float: left; padding: 6px; min-height: 131px; border-left: 1px solid #D3D3D3;">$message</div>
</div>

<div style="clear: both; border-top: 1px solid #D3D3D3;"></div><br />