<div style="width: 100%; text-align: right; padding-right: 6px;">$actions</div><br />
<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td class="title" width="30">&nbsp;</td>
	<td class="title" width="30">&nbsp;</td>
    <td class="title">%topic%:</td>
    <td class="title" width="20%" align="center">%author%:</td>
    <td class="title" width="5%" align="center">%replies%:</td>
    <td class="title" width="5%" align="center">%views%:</td>
	<td class="title" width="20%" align="center">%lastpost%:</td>
  </tr>
  <tr><td colspan="7"></td></tr>