<tr onMouseOver="this.bgColor='#EDEDED'" onMouseOut="this.bgColor='#FFF'">
  <td align="center" style="border-bottom: 1px solid #D3D3D3; padding: 4px;">$folder</td>
  <td align="center" style="border-bottom: 1px solid #D3D3D3; padding: 4px;">$icon</td>
  <td style="border-bottom: 1px solid #D3D3D3; padding: 4px;">$link $topicpage_link</td>
  <td align="center" style="border-bottom: 1px solid #D3D3D3; padding: 4px;">$poster $member1</td>
  <td align="center" style="border-bottom: 1px solid #D3D3D3; padding: 4px;">$replys</td>
  <td align="center" style="border-bottom: 1px solid #D3D3D3; padding: 4px;">$views</td>
  <td align="center" style="border-bottom: 1px solid #D3D3D3; padding: 4px;"><small>$date<br />$lastposter</small></td>
</tr>