<div style="width: 100%;">
<div style="float: right;"><a href="index.php?site=forum&amp;action=markall">%mark_all_read%</a></div>
	<div class="title">&nbsp; %whos_online%</div>
	<div style="border-bottom: 1px solid #D3D3D3; padding: 5px; font-size: 11px; color: #989696;">
    %now_online%: $user_names<br />$user_on %and% $guests_on (%maximum_online%: $maxonline) <div style="float: right;"><a href="index.php?site=whoisonline#was"><b>%who_was_online%?</b></a></div>
    </div><br />
    
	<div class="title">&nbsp; %happy_birthday%</div>
    <div style="border-bottom: 1px solid #D3D3D3; padding: 5px; font-size: 11px; color: #989696;">
    %today%: $birthdays<br />%next_7_days%: $birthweek
    </div><br />
    
    <div class="title">&nbsp; Legend:</div>
	<div style="border-bottom: 1px solid #D3D3D3; padding: 5px; font-size: 11px; color: #989696;">
    <span style="color: $loosecolor">%admin%</span> | <span style="color: $drawcolor">%moderator%</span> | <span style="color: $wincolor">%clanmember%</span>
    </div><br />
    
    <div class="title">&nbsp; %stats%:</div>
	<div style="border-bottom: 1px solid #D3D3D3; padding: 5px; font-size: 11px; color: #989696;">
    %registered_users%: $registered | %posts%: $posts | %topics%: $topics <br />
    %newest_member%: $newestmember
    </div>
    
    <div style="text-align: center; padding: 5px;">
    <img src="images/icons/boardicons/on.gif" alt="new posts" /> <small>%new_posts%</small> <img src="images/icons/boardicons/off.gif" alt="no new posts" /> <small>%no_new_posts%</small> <img src="images/icons/boardicons/lock.gif" alt="closed" /> <small>%closed_folder%</small> <img src="images/icons/foldericons/sticky.gif" alt="Sticky" /> <small>%sticky%</small>
    </div>
</div>
<br />