<table width="100%" border="0" cellspacing="$cellspacing" cellpadding="$cellpadding" bgcolor="$border">
    <td width="25%" bgcolor="$bg1" rowspan="9" align="center">$logo <br> $recruit</td>
    <td width="21%" bgcolor="$bg1"><strong>Agent</strong></td>
    <td width="79%" bgcolor="$bg1">$country $player $status2</td>
   </tr>
    <tr>
     <td bgcolor="$bg1"> <strong>League</strong></td>
     <td bgcolor="$bg1">$gamepic $league</td>
   </tr>
    <tr>
     <td bgcolor="$bg1"><strong>Registered on</strong></td>
     <td bgcolor="$bg1">$reg</td>
   </tr>
    <tr>
     <td bgcolor="$bg1"> <strong>Availability</strong></td>
     <td bgcolor="$bg1">$avail</td>
   </tr>
    <tr>
     <td bgcolor="$bg1"><strong>Gamer name</strong></td>
     <td bgcolor="$bg1">$ds[name]</td>
   </tr>
    <tr>
     <td bgcolor="$bg1"><strong>Why play?</strong></td>
     <td bgcolor="$bg1">$play</td>
   </tr>
    <tr>
     <td bgcolor="$bg1"><strong>Awards</strong></td>
     <td bgcolor="$bg1">$tourn_awards $ladd_awards $no_awards</td>
    </tr>
    <tr>
     <td bgcolor="$bg1"><strong>Skill</strong></td>
     <td bgcolor="$bg1">$skill</td>
    </tr>
    <tr>
     <td bgcolor="$bg1"><strong>Info</strong></td>
     <td bgcolor="$bg1">$info</td>
    </tr>
</table>