					<tr> 
						<td bgcolor="$bg1" valign="top">Report:</td>
						<td bgcolor="$bg1" colspan="3" valign="top"><textarea name="report" cols="75" rows="11" class="form_off" onFocus="this.className=\'form_on\'" onBlur="this.className=\'form_off\'"></textarea></td>
					</tr>
					<tr> 
						<td bgcolor="$bg1" colspan="4"><hr noshade size="1" color="$border"></td>
					</tr>
					<tr>
						<td bgcolor="$bg1" colspan="4" align="right" ><input onclick="return confirm('Confirm?');"  name="submit" type="submit" value="%submit%"></td>
					</tr>

                </form>
		    </table>