<form action="?site=cupactions&action=ladscore&clan1=$clanID&matchID=$matchID&laddID=$cupID" method="post" name="post">
					<tr> 
						<td bgcolor="$bg1">%your% Score
						<td bgcolor="$bg1"><input name="$ladscore1" type="text" class="form_off" id="$ladscore1" onFocus="this.className=\'form_on\'" onBlur="this.className=\'form_off\'" size="3"></td>
                        <td bgcolor="$bg1" align="center">$maps</td>
						<td bgcolor="$bg1"><input name="$ladscore2" type="text" class="form_off" id="$ladscore2" onFocus="this.className=\'form_on\'" onBlur="this.className=\'form_off\'" size="3"> 
					%opponent% Score