<br />
  <table width="100%" bgcolor="$border" cellspacing="$cellspacing" cellpadding="$cellpadding">
   <tr>
    <td class="title" colspan="5"><a name="activity"></a><img src="images/cup/icons/challenge.gif" width="20" height="20"> $lad_chal_head_type <a href="#lc" name="lc" class="show_hide_lc"><img src="images/cup/icons/arrow_up_down.gif" align="right"></a></td>
   </tr>
   </table>
   
   <div class="slidingDiv_lc"> 
   <table width="100%" bgcolor="$border" cellspacing="$cellspacing" cellpadding="$cellpadding">
    <tr>
     <td bgcolor="$bg1" width="25%" class="title2" align="center">Challenger</td>
     <td bgcolor="$bg1" width=""    class="title2" align="center"><img src="images/cup/icons/time.gif" width="16" height="16"></td>
     <td bgcolor="$bg1" width="25%" class="title2" align="center">Challenged</td>
     <td bgcolor="$bg1" width=""    class="title2" align="center"><img src="images/cup/icons/date.png"> Updated</td>
     <td bgcolor="$bg1" width=""    class="title2" align="center">Details</td>
   </tr>
   $recent_activity
