<br>

<table width="100%" cellpadding="$cellpadding" cellspacing="$cellspacing" bgcolor="$border" >
   <tr>
    <td class="title" colspan="5"><a name="matches"></a><img src="images/cup/icons/add_result.gif" width="16" height="16"> Recent Matches <a href="#rm" name="rm" class="show_hide_rm"><img src="images/cup/icons/arrow_up_down.gif" align="right"></a></td>
   </tr>
</table>

<div class="slidingDiv_rm"> 
<table width="100%" cellpadding="$cellpadding" cellspacing="$cellspacing" bgcolor="$border" >
<tr>
  <td class="title2" align="center" width="25%">Team 1</td>
  <td class="title2" align="center" width="10%"><img src="images/cup/icons/add_result.gif"></td>
  <td class="title2" align="center" width="25%">Team 2</td>
  <td class="title2" align="center"><img src="images/cup/icons/date.png"> Date</td>
  <td class="title2" align="center">Details</td>
</tr>