<table width="100%" border="0" cellpadding="$cellpadding" cellspacing="$cellspacing" >
  <tr>
    <td colspan="6" class="title"><strong>Cup:</strong> $cupname</td>
  </tr>
  <tr bgcolor="$bg1">
    <td width="1%" align="center"><strong>%cup_matches_date%</strong></td>
    <td width="25%" align="left"><strong>%cup_match_team%</strong></td>
    <td width="25%" align="left"><strong>%cup_match_gegner%:</strong></td>
    <td width="10%" align="center"><strong>%cup_matches_erg%</strong></td>
    <td width="1%" align="left"><strong>%action%</strong></td>
  </tr>
$match
</table>
<br />