<style type="text/css">
.vornachname {
	color: #666;
	font-size: 10px;
}
</style>
  <td colspan="4" width="60%" style="padding-top:7px; padding-left:2px;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="vertical-align:top">
      <tr>
        <td width="62%" height="19"  valign="top" style=" color: #FFF; font-size: 14px;" >$myclanname | <a href="index.php?site=profile&amp;id=$profilid"><b>$nickname</b></a></td>
        <td width="38%" class="vornachname" >$firstname $lastname</td>
      </tr>
    </table>
    </td>
  </tr>