<style type="text/css">
.squadname {
	font-weight: bold;
	font-size: 16px;
	color: #CCC;
}
</style>
$icon
<div style="background-image:url(images/squadmod/bg.png); width:60%; min-height:100%; z-index:1; ">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr valign="top">
    <td height="19" colspan="4">
        <table border="0" width="100%" cellspacing="0" cellpadding="0" >
          <tr>
        <td class="squadname" style="padding-left:15px; padding-top:15px;">$name</td>
        </tr>
       </table>
    </td>
  </tr>
    <tr>