<div class="news">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="2%"><div class="comments">22</div></td>
    <td width="98%"><h2><a href="index.php?site=news_comments&amp;newsID=$newsID">$headline</a></h2>
    </td>
  </tr>
    <tr>
    <td colspan="2" style="color:#444444; padding-bottom:5px; font-size:11px;">Posted by $poster - $date</td>
  </tr>
  <tr>
    <td colspan="2">$rubricpic</td>
  </tr>
  <tr>
    <td colspan="2" style="padding:5px 0; line-height:20px;">$content</td>
  </tr>
    <tr>
    <td colspan="2" style="border-bottom:1px solid #e0e0e0;"></td>
  </tr>
</table>


</div>