<h3><a href="index.php?site=news_comments&amp;newsID=$newsID">
     $headline</a> $isintern <a href="index.php?site=news&amp;show=$rubrikname_link" style="float:right; margin-right:5px;">$rubrikname</a></h3>
     <div class="newsbox"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" style="padding-top:5px;">$rubricpic</td>
  </tr>
  <tr>
    <td style="padding:5px;">$content</td>
  </tr>
  <tr>
    <td><div class="newsboxinfo"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="63%"><span>%links%</span>: $related<br />
            <span>%written_by% $poster - $date - $time</span></td>
    <td width="37%"><span style="float:right;">$adminaction</span></td>
  </tr>
  <center><div class="fb-like" data-href="$fb_url" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></center>
</table>
</div></td>
  </tr>
</table>
</div>
