<h3><a href="index.php?site=news_comments&amp;newsID=$newsID">
     $headline</a> $isintern <a href="index.php?site=news&amp;show=$rubrikname_link" style="float:right; margin-right:5px;">$rubrikname</a></h3>
     <div class="newsbox"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" style="padding-top:5px;">$rubricpic</td>
  </tr>
  <tr>
    <td style="padding:5px;">$content</td>
  </tr>
  <br />
  <tr>
	<td align="right"><a href="">Read more</a></td>
  </tr>
</table>
</div>
