   <tr>
    <td class="title2"><img src="images/cup/icons/go.png"> <a href="?site=ladders&platID=$platID"><strong>View Ladders</strong></a></td>
    <td width="55%" class="title2">$pl[name]</td>
   </tr>
    <tr>
     <td width="25%" align="center" bgcolor="$bg1" rowspan="4">$logo</td>
     <td bgcolor="$bg1">$pl[descrip]</td>
   </tr>
    <tr>
     <td bgcolor="$bg2">$total_ladder_rows Total Ladders</td>
   </tr>
    <tr>
     <td bgcolor="$bg1">$active_teams/$all_teams Active Teams</td>
   </tr>
    <tr>
     <td bgcolor="$bg1">$played_matches Played Matches</td>
   </tr>
    <tr>
     <td colspan="2"></td>
   </tr>