<br />
<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td width="60%" valign="top">
    <table width="100%" cellpadding="2" border="0" cellspacing="0" >
      <tr>
        <td colspan="2" class="title" >&nbsp; %personal_info%</td>
      </tr>
      <tr><td colspan="2" ><hr></td></tr>
      <tr>
        <td width="35%" >%nickname%:</td>
        <td width="65%" ><b>$nickname</b> $member</td>
      </tr>
      <tr>
        <td >%status%:</td>
        <td >$status</td>
      </tr>
      <tr>
        <td >%usertitle%:</td>
        <td >$usertype<br />$rang</td>
      </tr>
      <tr>
        <td >%contact%:</td>
        <td >$email $pm $buddy $icq</td>
      </tr>
      <tr>
        <td >%homepage%:</td>
        <td >$homepage</td>
      </tr>
      <tr> 
        <td >%real_name%:</td>
        <td >$firstname $lastname</td>
      </tr>
      <tr>
        <td >%sexuality%:</td>
        <td >$sex</td>
      </tr>
      <tr>
        <td >%age%:</td>
        <td >$birthday</td>
      </tr>
      <tr>
        <td >%location%:</td>
        <td >$profilecountry $town</td>
      </tr>
      <tr>
        <td >%registered_since%:</td>
        <td >$registered</td>
      </tr>
      <tr>
        <td >%last_login%:</td>
        <td >$lastlogin</td>
      </tr>
    </table>
    <br />
    <table width="100%" cellspacing="0" cellpadding="2" >
      <tr>
        <td class="title" >&nbsp; %about%</td>
      </tr>
      <tr><td ><hr></td></tr>
      <tr>
        <td >$about</td>
      </tr>
    </table>
    <br />
    <table width="100%" cellspacing="0" cellpadding="2" >
      <tr>
        <td colspan="2" class="title" >&nbsp; %clan_equipment%</td>
      </tr>
      <tr><td colspan="2" ><hr></td></tr>
      <tr>
        <td width="35%" >%clan%:</td>
        <td width="65%" >$clanname $clantag<br />(%hp%: $clanhp)</td>
      </tr>
      <tr>
        <td >%irc_channel%:</td>
        <td >$clanirc</td>
      </tr>
      <tr>
        <td >%clan_history%:</td>
        <td >$clanhistory</td>
      </tr>
      <tr>
        <td >%cpu%:</td>
        <td >$cpu</td>
      </tr>
      <tr>
        <td >%mainboard%:</td>
        <td >$mainboard</td>
      </tr>
      <tr>
        <td >%ram%:</td>
        <td >$ram</td>
      </tr>
      <tr>
        <td >%monitor%:</td>
        <td >$monitor</td>
      </tr>
      <tr>
        <td >%graphiccard%:</td>
        <td >$graphiccard</td>
      </tr>
      <tr>
        <td >%soundcard%:</td>
        <td >$soundcard</td>
      </tr>
      <tr>
        <td >%i_connection%:</td>
        <td >$connection</td>
      </tr>
      <tr>
        <td >%keyboard%:</td>
        <td >$keyboard</td>
      </tr>
      <tr>
        <td >%mouse%:</td>
        <td >$mouse</td>
      </tr>
      <tr>
        <td >%mousepad%:</td>
        <td >$mousepad</td>
      </tr>
    </table>
    </td>
    <td width="1%">&nbsp;</td>
    <td width="39%" valign="top">
    <table width="100%" cellpadding="2" cellspacing="0" >
      <tr>
        <td class="title" >&nbsp; %userpic%:</td>
      </tr>
      <tr><td ><hr></td></tr>
      <tr>
        <td height="215" align="center" >$userpic</td>
      </tr>
    </table>
    <br />
    <table width="100%" cellspacing="0" cellpadding="2" >
      <tr>
        <td class="title" >&nbsp; %latest_visitors% <small>&nbsp;&nbsp;&nbsp;($anzvisits)</small></td>
      </tr>
      <tr><td ><hr></td></tr>
      $lastvisits
    </table>
    <br /> 
  </tr>
</table>