<script type="text/javascript">
  function DoNav(theUrl)
  {
  document.location.href = theUrl;
  }
</script>

    

    <tr onmouseout="ChangeColor(this, false);" style="text-decoration:none; cursor:pointer" onclick="DoNav('$matchlink2');">
	<td colspan="7" bgcolor="$bg1">$game $cup $gs $date<br />&#8226; <b>$clan1</b> ($score1) <a style="text-decoration:none; cursor:help" onmouseover="showWMTT('status_$matchID')" onmouseout="hideWMTT()" href=$matchlink><b>vs</b></a> ($score2) <b>$clan2</b></td>
    </tr>

    </a>