<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="94" align="center" valign="middle" style="padding:5px;border-bottom:1px solid #d6d6d6; background:#fff;"><img src="images/topmatch/$logo1" alt="" /></td>
    <td align="center" valign="middle" style="border-bottom:1px solid #d6d6d6;background:#fff;color:#000;"><strong><span style="color:#990000;">$league</span></br>
    $date - $time</strong> </br>
 $maps</td>
    <td align="center" valign="middle" style="padding:5px;border-bottom:1px solid #d6d6d6;background:#fff;"><img src="images/topmatch/$logo2" alt="" /></td>
  </tr>
  <tr>
    <td width="25%" align="center" valign="middle" style="padding:10px; border-bottom:1px solid #d6d6d6; background:#EEF3F8;"><a href="$url1" target="_blank">$team1</a></td>
    <td width="50%" align="center" valign="middle" style="padding:10px; border-bottom:1px solid #d6d6d6;  background:#EEF3F8;color:#686868;"><strong>versus</strong></td>
    <td width="25%" align="center" valign="middle" style="padding:10px; border-bottom:1px solid #d6d6d6;  background:#EEF3F8;"><a href="$url2" target="_blank">$team2</a></td>
  </tr>
</table>