<table width="100%" cellspacing="0" cellpadding="2" bgcolor="$border">
  <tr bgcolor="$bghead">
    <td class="title"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left">$title</td>
        <td align="right" style="padding-right:2px;">$game</td>
      </tr>
    </table></td>
  </tr>
  <tr><td bgcolor="$pagebg"></td></tr>
  <tr bgcolor="$bg1">
    <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="2">
      <tr>
        <td valign="top">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="padding:3px">
            <table border="0" cellspacing="0" cellpadding="2">
              <tr>
                <td>%posted_by% $poster @ $date</td>
              </tr>
            </table>
            </td>
            <td align="right" valign="top" style="padding:3px">%rating% $ratingpic</td>
          </tr>
          <tr>
            <td colspan="2" align="right" style="border-top:#999999 1px dashed">%page_of%</td>
          </tr>
          <tr>
            <td colspan="2" style="padding:3px">$content</td>
          </tr>
          <tr>
            <td colspan="2" align="right">$page_link</td>
          </tr>
          <tr>
            <td colspan="2" align="right" style="border-top:#999999 1px dashed"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left">$adminaction</td>
                <td align="right">$rateform</td>
              </tr>
            </table></td>
          </tr>
        </table>
        </td>
      </tr>
    </table>
    </td>
  </tr>
</table>