<div class="tabsmenucontent">
<ul>
      <li><a href="index.php?site=news">%news%</a></li>
      <li><a href="index.php?site=news&amp;action=archive">%archives%</a></li>
	  <li><a href="index.php?site=contact">%contact%</a></li>
	  <li><a href="index.php?site=sponsors">%sponsors%</a></li>
</ul>
</div>

<div class="tabsmenucontent">
<ul>
      <li><a href="index.php?site=about">%about_us%</a></li>
      <li><a href="index.php?site=members">%members%</a></li>
      <li><a href="index.php?site=clanwars">%matches%</a></li>
      <li><a href="index.php?site=awards">%awards%</a></li>
</ul>
</div>

<div class="tabsmenucontent">
</div>

<div class="tabsmenucontent">
<ul>
      <li><a href="index.php?site=files">%downloads%</a></li>
      <li><a href="index.php?site=demos">%demos%</a></li>
      <li><a href="index.php?site=gallery">%gallery%</a></li>
</ul>
</div>
