<table width="100%" border="0" cellspacing="$cellspacing" cellpadding="$cellpadding" bgcolor="$border">
  <tr>
    <td bgcolor="white">
    <table width="100%" border="0" cellpadding="$cellpadding" cellspacing="$cellspacing">
      <tr>
    
        <td>
        <table border="0" cellspacing="$cellspacing" cellpadding="$cellpadding" bgcolor="">
          <tr>
            <td><img src="images/cup/icons/add_result.gif" width="16" height="16" alt="" /> 
			Total Matches</td>
            <td align="center"><b>$totaltotalusermatches</b></td>
          </tr>
          <tr>

            <td><img src="images/cup/icons/add_result.gif" width="16" height="16" alt="" /> 
			Open Matches</td>
            <td align="center"><b>$openmatches</b></td>
          </tr>
          <tr>
            <td><img src="images/cup/success.png" width="16" height="16" alt="" /> 
			Matches Won</td>
            <td align="center"><font color="$wincolor"><b>$matcheswon</b></font></td>

          </tr>
          <tr>
            <td><img src="images/cup/error.png" width="16" height="16" alt="" /> 
			Matches Lost</td>
            <td align="center"><font color="$loosecolor"><b>$matcheslost</b></font></td>
          </tr>
          <tr>
            <td><img src="images/cup/icons/rank_up.gif" width="16" height="16" alt="" /> 
			Confirmed Matches</td>

            <td align="center"><font color="$wincolor"><b>$confirmedmatches</b></font></td>
          </tr>
          <tr>

            <td><img src="images/cup/icons/rank_down.gif" width="16" height="16" alt="" /> 
			Protest Matches</td>
            <td align="center"><font color="$loosecolor"><b>$matchprotests</b></font></td>
          </tr>
          <tr>
            <td><img src="images/cup/icons/challenge.gif" width="16" height="16" alt="" /> 
			Pending Matches</td>
            <td align="center"><font color="$drawcolor"><b>$pendingmatches</b></font></td>
          </tr>
	  $avg
          <tr>
            <td><img src="images/cup/icons/points.png" width="16" height="16" alt="" /> 
			Won Points</td>
            <td align="center"><b>$totalwonpoints</b></td>

          </tr>
          <tr>
            <td><img src="images/cup/icons/points.png" width="16" height="16" alt="" /> 
			Lost Points</td>
            <td align="center"><b>$totallostpoints</b></td>
          </tr>
          <tr>
            <td><img src="images/profile/awards.png"> Awards</td>
            <td align="center">$cups</td>
          </tr>
        </table>
        </td>

        <td align="right" valign="bottom">
        <table border="0" cellspacing="$cellspacing" cellpadding="$cellpadding">
	$exp_cnt
          <tr>
            <td width="60" align="center" valign="bottom">$totalconfirmed</td>
            <td width="60" align="center" valign="bottom">$totalprotest</td>
            <td width="60" align="center" valign="bottom">$totalpending</td>
            <td width="60" align="center" valign="bottom">$totalwon</td>
            <td width="60" align="center" valign="bottom">$totallost</td>
            <td width="60" align="center" valign="bottom">$scoreratio</td>
          </tr>
          <tr>
            <td align="center" valign="top">Confirmed</td>
            <td align="center" valign="top">Protests</td>
            <td align="center" valign="top">Pending</td>

            <td align="center" valign="top">Won</td>
            <td align="center" valign="top">Lost</td>
            <td align="center" valign="top">Ratio</td>
          </tr>
        </table>
        </td>
      </tr>

    </table>
    </td>
  </tr>
</table>
<br />