<table width="100%" cellpadding="$cellpadding" cellspacing="$cellspacing" bgcolor="$border">
	<tr>
	<td class="title">&nbsp;<img border="0" src="images/icons/foldericons/folder.gif" width="16" height="16">&nbsp;<a class="titlelink" href="?site=cups&action=details&cupID=$cupID">Details</a></td>
	<td class="title">&nbsp;<img border="0" src="images/cup/icons/yourteams.png" width="16" height="16">&nbsp;<a class="titlelink" href="?site=clans&cupID=$cupID">$participants</a></td>
	<td class="title">&nbsp;<img border="0" src="images/cup/icons/tournament.png" width="16" height="16">&nbsp;<a class="titlelink" href="?site=brackets&action=tree&cupID=$cupID">Brackets</a></td>
	<!--$groups_tit-->
	<!--<td class="title" >&nbsp;<img border="0" src="images/cup/icons/rank.gif" width="16" height="16">&nbsp;<a class="titlelink" href="?site=cups&action=admins&cupID=$cupID">Admins</a></td>-->
        <td class="title"">&nbsp;<img border="0" src="images/cup/icons/add_result.gif" width="16" height="16">&nbsp;<a class="titlelink" href="?site=matches&action=viewmatches&cupID=$cupID">Matches</a></td>
        $mylineup
	<td class="title">&nbsp;<img border="0" src="images/cup/icons/alert.png" width="16" height="16">&nbsp;<a class="titlelink" href="?site=cups&action=regeln&cupID=$cupID">Rules</a></td>
        $main_signup	
	</tr>
</table>