<br>
<table width="100%" cellpadding="$cellpadding" cellspacing="$cellspacing" bgcolor="$border">
	<tr>
		<td height="20" class="title">&nbsp;<img border="0" src="images/icons/foldericons/folder.gif" width="16" height="16">&nbsp;<a class="titlelink" href="?site=ladders&ID=$id">Details</a></td>
		<td class="title">&nbsp;<img border="0" src="images/cup/icons/ladder.png" width="16" height="16">&nbsp;<a class="titlelink" href="?site=standings&ladderID=$id">Standings</a></td>
		<!--$groups_tit-->
		$chall_titl
		<td class="title">&nbsp;<img border="0" src="images/cup/icons/add_result.gif" width="16" height="16">&nbsp;<a class="titlelink" href="?site=matches&action=viewmatches&laddID=$id">Matches</a></td>
        $tit_gs
		<td class="title">&nbsp;<img border="0" src="images/cup/icons/alert.png" width="16" height="16">&nbsp;<a class="titlelink" href="?site=ladders&action=rules&ID=$id">Rules</a></td>
        <td class="title">&nbsp;<img border="0" src="images/cup/icons/checkin.png" width="16" height="16">&nbsp;$alt</td>		
	</tr>
	<!--<tr><td bgcolor="$pagebg" colspan="8"></td></tr>-->
</table>