	<table width="100%" cellspacing="2" border="0" cellpadding="$cellpadding" bgcolor="$border">
		<tr> 
			<td align="center" class="title">My Ticket</td>
		</tr>
        <tr>
			<td colspan="2" bgcolor="$pagebg"></td>
        </tr>
		<tr>
			<td bgcolor="$bg1">
				<table width="100%" border="0" align="center" cellpadding="$cellpadding" cellspacing="$cellspacing">
					<tr> 
						<td bgcolor="$bg1" width="15%"><b>Department:</b></td>
						<td bgcolor="$bg1" width="85%">$type</td>
					</tr>	  
                         $select_match
                         $select_league
					<tr> 
						<td bgcolor="$bg1" valign="top" width="15%"><b>Added:</b></td>
						<td bgcolor="$bg1" colspan="2" valign="top" width="85%">$date by $user</td>
					</tr> 
					<tr> 
						<td bgcolor="$bg1" valign="top" width="15%"><b>Updated:</b></td>
						<td bgcolor="$bg1" colspan="2" valign="top" width="85%">$updated_date 
						$updated_by</td>
					</tr> 
					<tr> 
						<td bgcolor="$bg1" width="15%"><b>Subject:</b></td>
						<td bgcolor="$bg1" width="85%">$subject</td>
					</tr>
					<tr> 
						<td bgcolor="$bg1" valign="top" width="15%"><b>Description:</b></td>
						<td bgcolor="$bg1" colspan="2" valign="top" width="85%">$desc</td>
					</tr>
					<tr> 
						<td bgcolor="$bg1" valign="top" width="15%"><b>IRC:</b></td>
						<td bgcolor="$bg1" colspan="2" valign="top" width="85%">$irc</td>
					</tr> 
					<tr> 
						<td bgcolor="$bg1" valign="top" width="15%"><b>Status:</b></td>
						<td bgcolor="$bg1" colspan="2" valign="top" width="85%">$status</td>
					</tr> 
					<tr> 
						<td bgcolor="$bg1" colspan="3"><hr noshade size="1" color="$border"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>